---
import BackToTop from "@components/BackToTop.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props as Props;
const { Content } = await post.render();
const { title, description, pubDate, author, tags, heroImage } = post.data;
---

<BlogLayout
  title={title}
  description={description}
  pubDate={new Date(pubDate)}
  author={author}
  tags={tags}
  heroImage={heroImage}
>
  <Content />
  <div class="flex justify-center">
    <BackToTop />
  </div>
</BlogLayout>
