---
interface Props {
  post: {
    slug: string;
    data: {
      title: string;
      description: string;
      pubDate: Date;
      heroImage?: string;
    };
  };
}

const { post } = Astro.props;
const { title, description, pubDate, heroImage } = post.data;

const formattedDate = new Intl.DateTimeFormat("es-ES", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(new Date(pubDate));
---

<article class="card transition-all duration-300 hover:ring-1 hover:ring-neutral-700">
  <a href={`/blog/${post.slug}`} class="flex flex-col">
    {heroImage && <img src={heroImage} alt={title} class="rounded-t-lg" />}
    <header class="flex flex-col gap-2 p-6">
      <time datetime={new Date(pubDate).toISOString()} class="text-sm">
        {formattedDate}
      </time>
      <h2 class="heading3 line-clamp-2">{title}</h2>
      <p class="line-clamp-3 text-neutral-400">
        {description}
      </p>
    </header>
  </a>
</article>
