---
import Card from "./Card.astro";
import Chip from "./Chip.astro";

import LocationIcon from "@assets/LocationIcon.astro";
import EmailIcon from "@assets/EmailIcon.astro";
import GitHubIcon from "@assets/GitHubIcon.astro";
import LinkedInIcon from "@assets/LinkedInIcon.astro";

import profile from "@data/profile.json";
import contact from "@data/contact.json";
---

<Card p="p-6" class="flex-col items-center">
  <a
    href="/"
    class="border-2 border-indigo-500 rounded-full w-28 h-28 flex items-center justify-center mb-2"
  >
    <img src={profile.imageUrl} alt="" class="rounded-full w-24 h-24" />
  </a>
  <p class="text-neutral-100 font-semibold text-xl">{profile.name}</p>
  <p class="text-neutral-500 text-sm">{profile.title}</p>
  <Chip icon label={profile.location} class="mt-2">
    <LocationIcon />
  </Chip>
  <div class="flex mt-2">
    {
      contact.map((item) => (
        <a
          href={item.url}
          class="btn-icon btn-ghost"
          target="_blank"
          rel="noopener noreferrer"
        >
          {item.icon === "EmailIcon" && <EmailIcon />}
          {item.icon === "GitHubIcon" && <GitHubIcon />}
          {item.icon === "LinkedInIcon" && <LinkedInIcon />}
        </a>
      ))
    }
  </div>
</Card>
