---
import Card from "./Card.astro";
import Chip from "./Chip.astro";

import LocationIcon from "@assets/LocationIcon.astro";
import EmailIcon from "@assets/EmailIcon.astro";
import GitHubIcon from "@assets/GitHubIcon.astro";
import LinkedInIcon from "@assets/LinkedInIcon.astro";

import profile from "@data/profile.json";
import contact from "@data/contact.json";
---

<Card p="p-6" class="flex-col items-center">
  <a
    href="/"
    class="mb-2 flex h-24 w-24 items-center justify-center rounded-full border-2 border-indigo-500"
  >
    <img src={profile.imageUrl} alt="" class="h-20 w-20 rounded-full" />
  </a>
  <p class="text-xl font-semibold text-neutral-100">{profile.name}</p>
  <p class="text-sm">{profile.title}</p>
  <Chip icon label={profile.location} class="mt-2">
    <LocationIcon />
  </Chip>
  <div class="mt-2 flex">
    {
      contact.map((item) => (
        <a
          href={item.url}
          class="btn-icon btn-ghost"
          target="_blank"
          rel="noopener noreferrer"
        >
          {item.icon === "EmailIcon" && <EmailIcon />}
          {item.icon === "GitHubIcon" && <GitHubIcon />}
          {item.icon === "LinkedInIcon" && <LinkedInIcon />}
        </a>
      ))
    }
  </div>
</Card>
