---
import Chip from "./Chip.astro";

import LocationIcon from "@assets/LocationIcon.astro";
import EmailIcon from "@assets/EmailIcon.astro";
import GitHubIcon from "@assets/GitHubIcon.astro";
import LinkedInIcon from "@assets/LinkedInIcon.astro";

import profile from "@data/profile.json";
import contact from "@data/contact.json";
---

<section class="card flex flex-col items-center p-6">
  <a
    href="/"
    class="flex h-24 w-24 items-center justify-center rounded-full border-2 border-indigo-400"
  >
    <figure>
      <img
        src={profile.imageUrl}
        alt="Foto de perfil"
        class="h-20 w-20 rounded-full"
      />
    </figure>
  </a>
  <h1 class="mt-4 text-xl font-bold text-neutral-100">
    {profile.name}
  </h1>
  <p class="text-sm">{profile.title}</p>
  <Chip icon label={profile.location} color="chip-secondary" class="mt-4">
    <LocationIcon width="w-4" height="h-4" />
  </Chip>
  <div class="mt-4 flex gap-2">
    {
      contact.map((item) => (
        <a
          href={item.url}
          class="btn-icon btn-ghost"
          target="_blank"
          rel="noopener noreferrer"
        >
          {item.icon === "EmailIcon" && <EmailIcon />}
          {item.icon === "GitHubIcon" && <GitHubIcon />}
          {item.icon === "LinkedInIcon" && <LinkedInIcon />}
        </a>
      ))
    }
  </div>
  <Chip
    icon
    label="Disponible para proyectos"
    color="chip-secondary"
    class="mt-4"
  >
    <span class="inline-flex h-2 w-2 animate-pulse rounded-full bg-green-400"
    ></span>
  </Chip>
</section>
