---
import { Image } from "astro:assets";
import RoleTimeline from "./RoleTimeline.astro";

interface Props {
  item: {
    image: string;
    title: string;
    organization: string;
    roles?: Role[];
    start: string;
    end?: string;
    summary?: string;
  };
}

interface Role {
  title: string;
  modality?: string;
}

const { item } = Astro.props;
---

<article class="flex flex-col gap-2">
  <div class="flex items-start gap-4">
    {
      item.image ? (
        <Image src={item.image} alt="" width={48} height={48} class="h-12 w-12 shrink-0 rounded-lg" />
      ) : (
        <div class="h-12 w-12 shrink-0 animate-pulse rounded-lg bg-neutral-800" />
      )
    }
    <div class="flex flex-col">
      <h3>
        {item.title}
      </h3>
      <div class="text-sm">
        <span>
          {item.organization} • {item.start}
        </span>
        <span>
          {item.end && `- ${item.end}`}
        </span>
      </div>
    </div>
  </div>
  {item.roles && <RoleTimeline roles={item.roles} />}
  {item.summary && <p class="text-sm">{item.summary}</p>}
</article>
