---
import Layout from "@layouts/Layout.astro";

import Alert from "@components/Alert.astro";
import BackToTop from "@components/BackToTop.astro";
import Chip from "@components/Chip.astro";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects");
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const project = entry.data;
---

<Layout
  title={project.title}
  subtitle={project.title}
  description="Aquí encontrarás una selección de mis proyectos más destacados y una descripción de mi experiencia en el campo de la tecnología y el diseño web."
>
  {
    project.development && (
      <div class="mt-4">
        <Alert
          title="En desarrollo"
          description="Este proyecto está en desarrollo. Es posible que algunas funciones no estén disponibles."
        />
      </div>
    )
  }
  {
    project.offline && (
      <div class="mt-4">
        <Alert title="Fuera de línea" description="Este proyecto está actualmente fuera de línea." variant="error" />
      </div>
    )
  }
  <div class="mt-4 flex flex-wrap items-center gap-2">
    {project.tags.map((tag) => <Chip label={tag} />)}
  </div>
  <div
    class="prose prose-invert prose-neutral prose-img:rounded-lg prose-a:outline-offset-[3px] prose-a:decoration-indigo-500 mt-4 max-w-none"
  >
    <Content />
  </div>
  {
    project.images && project.squareImage && (
      <div class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-2">
        {project.images.map((image) => (
          <Image src={image} alt={project.title} width={800} height={800} class="rounded-lg" />
        ))}
      </div>
    )
  }
  <div class="mt-4 flex justify-center">
    <BackToTop />
  </div>
</Layout>
