---
import Layout from "@layouts/Layout.astro";

import Alert from "@components/Alert.astro";
import Button from "@components/Button.astro";
import Chip from "@components/Chip.astro";

import projects from "@data/projects.json";

import GitHubIcon from "@assets/GitHubIcon.astro";
import PublicIcon from "@assets/PublicIcon.astro";
import { Image } from "astro:assets";

interface Props {
  project: {
    name: string;
    description: string;
    tags: string[];
    url: string;
    github: string;
    images: string[];
    squareImage: boolean;
    projects: {
      client: string;
      url: string;
      image: string;
    }[];
    development: boolean;
    offline: boolean;
  };
}

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
console.log(project);
---

<Layout
  title={project.name}
  subtitle={project.name}
  description="Aquí encontrarás una selección de mis proyectos más destacados y una descripción de mi experiencia en el campo de la tecnología y el diseño web."
>
  {
    project.development && (
      <div class="mt-4">
        <Alert
          title="En desarrollo"
          description="Este proyecto está en desarrollo. Es posible que algunas funciones no estén disponibles."
        />
      </div>
    )
  }
  {
    project.offline && (
      <div class="mt-4">
        <Alert
          title="Fuera de línea"
          description="Este proyecto está actualmente fuera de línea."
          variant="error"
        />
      </div>
    )
  }
  <div class="mt-4 flex flex-wrap items-center gap-2">
    {project.tags.map((tag) => <Chip label={tag} />)}
  </div>
  <p class="mt-4">{project.description}</p>
  {
    project.url || project.github ? (
      <div class="mt-4 flex flex-wrap gap-2">
        {project.url && (
          <Button icon href={project.url} openInNewTab>
            <PublicIcon slot="icon" />
            Ver proyecto
          </Button>
        )}
        {project.github && (
          <Button icon href={project.github} color="btn-secondary" openInNewTab>
            <GitHubIcon slot="icon" />
            Ver código
          </Button>
        )}
      </div>
    ) : null
  }
  {
    project.images && (
      <div
        class={`grid ${
          project.squareImage ? "grid-cols-1 lg:grid-cols-2" : "grid-cols-1"
        } mt-4 gap-4`}
      >
        {project.images.map((image) => (
          <Image
            src={image}
            alt={project.name}
            width={800}
            height={800}
            class="rounded-lg"
          />
        ))}
      </div>
    )
  }
  {
    project.projects && (
      <div class="mt-4 grid grid-cols-1 gap-6">
        {project.projects.map((project) => (
          <article>
            {project.url && (
              <div class="mb-4 flex flex-wrap items-center justify-between gap-4 rounded-lg p-2 pl-4 ring-1 ring-neutral-800">
                <h3 class="font-bold text-neutral-100">{project.client}</h3>
                <Button
                  icon
                  href={project.url}
                  color="btn-primary"
                  openInNewTab
                >
                  <PublicIcon slot="icon" />
                  Ir al sitio web
                </Button>
              </div>
            )}
            <Image
              src={project.image}
              alt=""
              width={1200}
              height={900}
              class="rounded-lg"
            />
          </article>
        ))}
      </div>
    )
  }
  <div class="mt-4 flex justify-center">
    <Button href="/" color="btn-secondary">Volver</Button>
  </div>
</Layout>
