---
import "@styles/base.css";

import Background from "@components/Background.astro";
import Profile from "@components/Profile.astro";
import SkillCarousels from "@components/SkillCarousels.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Props {
  title: string;
  subtitle?: string;
  description: string;
}

const { title, subtitle, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dlomynswh/image/upload/v1678916234/portfolio/og-image.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Background />
    <div
      class="mx-auto flex max-w-[480px] flex-col justify-center gap-4 px-4 pt-6 md:max-w-screen-xl md:flex-row"
    >
      <aside>
        <div class="flex shrink-0 flex-col gap-4 md:sticky md:top-6 md:w-80">
          <Profile />
          <SkillCarousels />
        </div>
      </aside>
      <main class="flex grow flex-col gap-4">
        <Navbar />
        <section class="card flex flex-col p-6">
          <h2 class="heading1 font-bold text-neutral-100">{subtitle}</h2>
          <slot />
        </section>
        <Footer />
      </main>
    </div>
  </body>
</html>
